div#auth-form-container {
  background-color: #eee;
  opacity: 0.9;
  height: 100%;
  display: flex;
  justify-content: center;
}

#auth-form {
  margin-top: 5vh;
  width: 90%;
}

p.sign-up-button:hover, div.log-in-button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

p.sign-up-button:hover {
  font-size: 87.5%;
}

p.sign-up-button {
  color: #375a7f;
  font-size: 85%;
  text-decoration: underline;
  margin-left: 0.1vw;
}

div.log-in-button {
  margin-bottom: 5vh;
}

p.already-member {
  margin-bottom: 2.5vh;
}

@media (min-width: 769px) {
}
