div.imports-form-container {
  width: 35vw;
}

div.imports {
  background-color: #eee;
  padding: 3rem;
  position: relative;
  left: 0;
  right: 0;
  min-height: 20vh;
  display: flex;
  position: relative;
}

div.imports-form-container input {
  font-size: 1rem;
  padding: 5px;
  border-radius: 4px;
}

div.import-loader button {
  font-size: 1.25rem;
  padding: 10px;
  margin-top: 20px;
  margin-left: 5px;
  border-radius: 6px;
  opacity: 0.5;
}

div.login-form-container button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.log-in-button {
  background-color: green;
}
