div.modal-lg.modal-dialog {
  width: 600px;
}

div.imports-form-container {
  width: 35vw;
}

div#uploadTabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.5vh;
}

button:focus {
  outline: none;
}

div#uploadTabs button {
  padding: 0.75vh 3vw;
  border: 1px solid #eee;
}

div#uploadTabs div.true button {
  color: #333;
}

div#uploadTabs div.false button {
  color: #eee;
  background-color: #333;
}

div#uploadTabs div.true button:hover {
  cursor: default;
}

div.imports {
  background-color: #333;
  padding: 1rem;
  padding-left: 2px;
  position: relative;
  left: 0;
  right: 0;
  min-height: 20vh;
  display: flex;
  position: relative;
}

label#demoFile {
  font-family: arial, sans-serif, serif;
  font-style: normal;
}

div.imports-form-container input {
  font-size: 1rem;
  padding: 5px;
  border-radius: 4px;
}

div.imports-form-container input, div.imports-form-container label {
  color: #eee;
}

div.imports-form-container label {
  margin-bottom: 20px;
}

div.import-loader button {
  font-size: 1.25rem;
  padding: 10px;
  margin-top: 20px;
  border-radius: 6px;
  opacity: 1.0;
  color: black;
  border: none;
}

div.import-loader button:hover {
  background-color: #375a7f;
}
