#grid-filters {
  display: flex;
}

div.public_fixedDataTableCell_cellContent a {
  color: #333 !important;
}

div.public_fixedDataTableCell_cellContent a:hover {
  color: #375a7f !important;
  text-decoration: none;
  cursor: pointer;
}

#group-image-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: -8px;
  margin-bottom: 0.5vh;
}

#ungroup-image {
  height: 17.5px;
  width: 17.5px;
}

#ungroup-image:hover {
  cursor: pointer;
  transform: scale(1.08);
}
