#grid-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

#grid-filters {
  display: flex;
}

div.public_fixedDataTableCell_cellContent a {
  color: #333 !important;
}

div.public_fixedDataTableCell_cellContent a:hover {
  color: #375a7f !important;
  text-decoration: none;
  cursor: pointer;
}

input.grid-filter {
  font-size: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
}

input#name-filter {
  margin-left: 4vw;
}

input#description-filter {
  margin-left: 3.75vw;
}

input#notes-filter {
  margin-left: 12vw;
}

div#percentage-filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 12vw;
  font-size: 75%;
}

div#percentage-filter-container div {
  display: flex;
}

div#percentage-filter-container div div {
  cursor: pointer;
}

input#percentage-filter {
  margin: 5px;
}

#equal-to {
  margin-left: 15px;
  margin-right: 15px;
}

#percentage-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}
