#header-menu {
  z-index: 100;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #375a7f;
}

#header-menu div {
  height: 5vh;
  display: flex;
  align-items: center;
}

#change-password, #log-out {
  color: white;
  width: 19.5vw;
  margin: 7.5px;
}

#change-password:hover, #log-out:hover {
  text-decoration: underline;
  font-size: 105%;
  cursor: pointer;
}

div.row#cancelChange {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 1vw;
}

div#header-menu div.false {
  display: none;
}

div#header-menu div.true {
  display: flex;
  margin-bottom: 1vh;
}
