.grid-cell-highlighted {
  color: rgba(170, 5, 0, 0.7);
  width: 100%;
  height: 100%;
  /*margin: -8px !important;*/
}

.ScrollbarLayout_main.ScrollbarLayout_mainVertical.public_Scrollbar_main {
  border-left: none;
}

div.fixedDataTableLayout_bottomShadow.public_fixedDataTable_bottomShadow {
  display: none;
}

div.fixedDataTableLayout_rowsContainer {
  overflow-x: none !important;
  overflow-y: none !important;
  overflow: none;
}

div.fixedDataTableRowLayout_rowExpanded .ScrollbarLayout_mainHorizontal {
  display: none;
  /*height: 13px;*/
}

div.fixedDataTableRowLayout_rowExpanded div.fixedDataTableLayout_main.public_fixedDataTable_main {
  border-left-style: none;
}

div.public_fixedDataTableCell_cellContent a {
  font-size: 85%;
}

div.public_fixedDataTable_bodyRow div.public_fixedDataTableCell_cellContent {
  font-size: 80%;
}

div.fixedDataTableRowLayout_rowExpanded div.public_fixedDataTableCell_cellContent {
  font-size: 80%;
  font-weight: lighter;
}

div.fixedDataTableRowLayout_rowExpanded div.public_fixedDataTable_header div.public_fixedDataTableCell_cellContent {
  font-size: 80%;
  background: none;
}
