#changepass-form-container {
  z-index: 100;
  position: relative;
  right: 0;
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: flex-start !important;
  height: auto !important;
  width: 100% !important;
  background-color: #375a7f;
}

form#changepass-form {
  border-top: 3px solid #eee;
  width: 100%;
}

#changepass-form .row {
  margin-right: 1vw;
  margin-left: 1vw;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  height: auto !important;
}

#changepass-form input, #changepass-form label {
  color: white;
  margin: 10px;
  width: 100%;
  font-size: 85%;
}

#changepass-form input {
  margin-top: 0.25vh !important;
  color: black !important;
}

#change-button {
  display: flex;
  align-items: flex-start !important;
  margin-bottom: 2vh;
}

#change-button div:hover {
  cursor: pointer;
}
