div#hero-section {
  border: none;
  position: absolute;
  margin-top: 2vh;
  left: 0;
  right: 0;
  bottom: 12.5vh;
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
}

div#hero-section::after {
  content: "";
  background-image: url("../Authenticate/images/stock1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#about-link {
  text-decoration: none;
  color: #eee;
}

#about-link:hover {
  text-decoration: underline;
}

div.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eee;
}

div.hero-text h1 {
  font-size: 125%;
  margin-bottom: 10px;
}

div.hero-text p {
  font-size: 90%;
  margin-bottom: 6vh;
}

@media (min-width: 401px) {
  div.hero-text h1 {
    font-size: 150%;
  }
  div.hero-text p {
    font-size: 110%;
  }
}

@media (min-width: 769px) {
  div#hero-section {
    width: 70vw;
    border: none;
    min-height: 90vh;
    margin: 0;
    position: relative;
    align-items: center;
  }
  div#hero-section::after {
    background-image: none;
  }
  div.hero-text h1 {
    font-size: 175%;
    margin-bottom: 5vh;
  }
  div.hero-text p {
    font-size: 125%;
    margin-bottom: 0;
  }
}
