#grid-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

#grid-filters {
  display: flex;
}

#about-filters {
  display: flex;
}

div.filter-buffer {
  margin-left: 0.5vw;
}

span:hover {
  cursor: pointer;
}

div.public_fixedDataTableCell_cellContent a {
  color: #333 !important;
}

div.public_fixedDataTableCell_cellContent a:hover {
  color: #375a7f !important;
  text-decoration: none;
  cursor: pointer;
}

input.grid-filter, select#percentage-dropdown {
  font-size: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

select#percentage-dropdown {
  margin-right: 0.5vw;
}

div#percentage-filter-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: 75%;
}

div#percentage-filter-container div {
  display: flex;
}

div#percentage-filter-container div div {
  cursor: pointer;
}
