div.row.about-section {
  display: flex;
  flex-direction: column;
}

div.about, div.solution {
  position: relative;
  height: 85vh;
  width: 100%;
  display: flex;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.25;
}

div.about {
  background-image: url("./images/paperwork.jpg");
  border-left: 3px solid #eee;
}

div.solution {
  background-image: url("./images/relaxing.jpg");
  border-right: 3px solid #eee;
}

@media (min-width: 769px) {
  div.row.about-section {
    display: flex;
    flex-direction: row;
  }
  div.about, div.solution {
    width: 48.75%;
  }
}
