header {
  background: #375a7f;
  padding: 0.5rem;
  box-shadow: 0 1px 1px #999;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 3px solid #333;
}

header h1 {
  font-size: 2rem;
  color: #eee;
  font-family: 'Fredericka the Great', cursive;
  margin-left: 0.25vw;
  margin-top: 5px;
  margin-bottom: 5px;
}

div#nav-dropdown {
  display: flex;
  align-items: center;
  margin-right: 0.25vw;
}

div#nav-dropdown.false {
  display: none;
}

div#nav-dropdown.true:hover {
  cursor: pointer;
}

#user-name {
  color: white;
  font-weight: bold;
  font-size: 85%;
}

#up-arrow, #down-arrow {
  height: 1vh;
  width: auto;
  margin-left: 0.5vw;
}

#up-arrow.false, #down-arrow.true {
  display: none;
}

@media (min-width: 769px) {
  header {
    background: linear-gradient(to right, #375a7f, #2e4b6a, #2e4b6a, #333, #333);
  }
}
