div#add-form-container {
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

div.modal-content {
  background-color: #333;
  color: #eee;
  opacity: 1.0;
}

button.close {
  color: white;
}

button.close:hover {
  color: #eee;
}

div.rebalance-form {
  margin: 2.5vw;
  width: 20.5vw;
  background-color: #333;
}

div.rebalance-form input, div.rebalance-form label {
  font-size: 85%;
}

div.rebalance-form input {
  color: black;
}

div.rebalance-form label {
  color: #eee;
}

div.rebalance-form button {
  background-color: gray;
  color: white;
  border: none;
  font-size: 0.90rem;
  margin-top: 10px;
  margin-left: 1px;
  padding: 6px;
}

div.rebalance-form button:hover {
  background-color: #375a7f;
}
