div#add-form-container {
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border: 3px solid #eee;
}

div.rebalance-form {
  margin: 2.5vw;
  width: 20vw;
  background-color: #333;
}

div.rebalance-form input, div.rebalance-form label {
  font-size: 85%;
}

div.rebalance-form input {
  color: black;
}

div.rebalance-form label {
  color: #eee;
}

div.rebalance-form button {
  background-color: gray;
  color: white;
  border: none;
  font-size: 1rem;
  margin-top: 20px;
  margin-left: 1px;
}
