div.log-in {
  border: 3px solid #eee;
  padding: 3rem;
  position: relative;
  left: 0;
  right: 0;
  min-height: 65vh;
  display: flex;
  position: relative;
}

div.log-in::after {
  content: "";
  background-image: url("./stock1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

div.login-form-container {
  width: 15vw;
}

div.login-form-container input {
  font-size: 1rem;
  padding: 5px;
  border-radius: 4px;
}

div.login-form-container button {
  font-size: 1.25rem;
  padding: 10px;
  margin-top: 20px;
  margin-left: 5px;
  border-radius: 6px;
}

div.login-form-container button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.log-in-button {
  background-color: green;
}

div.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.hero-text {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eee;
}

div.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  margin-top: 30px;
}

div.hero-text p {
  margin-top: 10px;
  font-size: 1.5rem;
}
