@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower%7COpen+Sans");
@import url('https://fonts.googleapis.com/css?family=Audiowide|Averia+Serif+Libre|Chelsea+Market|Comfortaa|Fredericka+the+Great|Josefin+Slab|Kranky|Merienda+One|Mukta+Vaani|Overlock|Poiret+One|Reem+Kufi|Righteous');

body {
  color: #333;
  background-color: #eee;
  font-family: "Open Sans";
}

input, label {
  display: block;
  width: 100%;
}

label {
  font-style: italic;
  margin-bottom: 0.25rem;
}

input {
  margin-bottom: 1rem;
  font-size: 2rem;
  border: none;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  background-color: #375a7f;
  padding: 1rem;
  box-shadow: 0 1px 1px #999;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 3px solid #333;
}

header h1 {
  font-size: 2rem;
  color: white;
  font-family: 'Fredericka the Great', cursive;
}

div.header-links {
  display: flex;
  margin-right: 30px;
}

div.header-links a {
  color: #eee;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

div.header-links a:hover {
  color: #eee;
}

nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #eee;
  box-shadow: 2px 2px 2px #999;
  transition: all 0.2s;
}

nav div.header-space {
  width: 70vw;
  background-color: #eee;
}

nav div {
  width: 7.5vw;
  padding: 10px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  border: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 3px;
  background-color: #375a7f;
  color: #eee;
}

nav div:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: rgba(66, 141, 221, 0.61);
  color: #333;
  font-weight: bold;
}

nav div:first-child {
  border: 1px solid #375a7f;
  border-bottom: none;
  background-color: #eee;
  color: #375a7f;
  border-radius: 0px;
  font-weight: bold;
}

nav div:first-child:hover {
  background-color: rgba(66, 141, 221, 0.61);
  color: #333;
  font-weight: bold;
}

nav div:last-child {
  border-right: none;
  border-radius: 0;
}

nav div:last-child:hover {
  cursor: default;
  transform: none;
  background-color: #eee;
}

main {
  border: 3px solid #eee;
  padding: 3rem;
}

div.log-in {
  border: 3px solid #eee;
  padding: 3rem;
  position: relative;
  left: 0;
  right: 0;
  min-height: 65vh;
  display: flex;
  position: relative;
}

div.log-in::after {
  content: "";
  background-image: url("stock1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

div.login-form-container {
  width: 15vw;
}

div.login-form-container input {
  font-size: 1rem;
  padding: 5px;
  border-radius: 4px;
}

div.login-form-container button {
  font-size: 1.25rem;
  padding: 10px;
  margin-top: 20px;
  margin-left: 5px;
  border-radius: 6px;
}

div.login-form-container button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.log-in-button {
  background-color: green;
}

div.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.hero-text {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eee;
}

div.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  margin-top: 30px;
}

div.hero-text p {
  margin-top: 10px;
  font-size: 1.5rem;
}

main h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

footer {
  padding: 1rem;
  background-color: #333;
  color: #eee;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.accounts {
  display: flex;
  flex-flow: column wrap;
}

.account-listing {
  max-width: 80rem;
  margin: 1rem;
  box-shadow: 2px 2px 2px #999;
  transition: all 0.2s;
}
.account-listing:hover {
  transform: scale(1.01);
}
.account-listing h3 {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  background-color: black;
  padding: 1rem;
  color: #eee;
}
.account-listing figure {
  margin-right: 1rem;
  padding: 1rem;
}
.account-listing figure img {
  max-width: 160px;
}
.account-listing figure figcaption {
  font-style: italic;
}
.account-listing section {
  display: flex;
}
.account-listing p {
  padding: 1rem;
  line-height: 1.5;
}
