div.log-in {
  height: 95vh;
  border: none;
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

div.log-in::after {
  background-image: none;
}

div.log-in div.row {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  width: 100%;
  height: 100%;
}

div#auth-form-container {
  background-color: #eee;
  opacity: 0.9;
  width: auto;
  display: flex;
  justify-content: center;
}

#auth-form {
  margin-top: 5vh;
  margin-top: 2.5vh;
  width: 90%;
  height: 100%;
}

p.sign-up-button:hover, div.log-in-button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

p.sign-up-button:hover {
  font-size: 87.5%;
}

p.sign-up-button {
  color: #375a7f;
  font-size: 85%;
  text-decoration: underline;
  margin-left: 0.1vw;
}

div.log-in-button {
  margin-bottom: 5vh;
  margin-left: 0.25vw;
  background-color: gray;
  border: none;
}

p.already-member {
  margin-bottom: 2.5vh;
}

#not-member, #already-member {
  margin-left: 0.25vw;
}

#not-member.true, #already-member.false {
  display: block;
}

#not-member.false, #already-member.true {
  display: none;
}

@media (min-width: 769px) {
  div.log-in {
    border: none;
    height: 95vh;
  }
  div.log-in::after {
    content: "";
    background-image: url("./images/stock1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  div#auth-form-container {
    width: 30vw;
  }
  div.log-in div.row {
    display: flex;
    flex-direction: row;
    width: 100vw;
  }
}
