div.header-links {
  display: flex;
  margin-right: 30px;
}

div.header-links a {
  color: #eee;
  margin-right: 10px;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

div.header-links a:hover {
  color: #eee;
}

nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #eee;
  box-shadow: 2px 2px 2px #999;
  transition: all 0.2s;
}

nav div div.header-space {
  background-color: #eee;
}

div.col-lg-1.col-md-1.col-sm-2.col-xs-3,
div.col-lg-8.col-md-8.col-sm-4.col-xs-0 {
  padding-right: 0.5px;
  padding-left: 0.5px;
}

div.col-lg-8.col-md-8.col-sm-4.col-xs-0 {
  display: none;
}

nav div div {
  /*width: 7.5vw;*/
  padding: 10px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  border: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 3px;
  background-color: #375a7f;
  color: #eee;
}

#log-out-div {
  background-color: #eee;
  border: none;
  padding: 0;
}

#log-out {
  color: #375a7f;
  background-color: #eee;
}

a {
  color: #eee;
}

div.col-lg-1.col-md-1.col-sm-2.col-xs-3 div:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: rgba(66, 141, 221, 0.61);
  color: #333;
  font-weight: bold;
}

div.col-lg-1.col-md-1.col-sm-2.col-xs-3 div.active-tab {
  border: 1px solid #375a7f;
  border-bottom: none;
  background-color: #eee;
  color: #375a7f;
  font-weight: bold;
}

a.active-tab {
  color: #375a7f;
}

div.active-tab {
  border-left: none;
}

div.active-tab:hover {
  background-color: rgba(66, 141, 221, 0.61);
  color: #333;
  font-weight: bold;
}

nav div:last-child {
  border-right: none;
}

nav div:last-child:hover {
  cursor: default;
  transform: none;
  background-color: #eee;
}

@media (min-width: 769px) {
  div.col-lg-8.col-md-8.col-sm-4.col-xs-0 {
    display: block;
  }
}
