div.header-links {
  display: flex;
  margin-right: 30px;
}

div.header-links a {
  color: #eee;
  margin-right: 10px;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

div.header-links a:hover {
  color: #eee;
}

nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  box-shadow: 2px 2px 2px #999;
  transition: all 0.2s;
}

div.nav-left {
  margin-top: 1.5px;
  margin-bottom: 2px;
}

div.nav-right {
  margin-right: 0.5px;
}

div.nav-left, div.nav-right {
  display: flex;
  align-items: center;
  margin-left: 0.75vw;
}

img.nav-image {
  height: 25px;
  width: 25px;
}

#importsNav, #rebalanceNav, #exportCsv, .inactive-tab {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.nav-left > div:hover {
  transform: scale(1.12);
}

div#importsNav.true, div#rebalanceNav.true, div.inactive-tab.true {
  height: 35px;
  width: 35px;
  margin-left: 1vw;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

div#importsNav.false, div#rebalanceNav.false, div#exportCsv.false,
div#clientsNav.false, div#householdsNav.false {
  margin-left: 1vw;
}

img.nav-image:hover {
  cursor: pointer;
}

a {
  color: #eee;
}

div#clientsNav {
  margin-left: 0.25vw;
}

div#clientsNav.true {
  padding: 10px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  border: 1px solid #375a7f;
  border-bottom: none;
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #eee;
}

div#householdsNav.true {
  padding: 10px;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: -7.5px;
  display: flex;
  justify-content: center;
  border: 1px solid #375a7f;
  border-bottom: none;
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #eee;
}

a.clients-link {
  color: #375a7f;
}

@media (min-width: 769px) {
  div.col-lg-8.col-md-8.col-sm-4.col-xs-0 {
    display: block;
  }
}
